
h1 {
	margin:10px 0 30px 0;
}

label {
	font-weight:normal;
	white-space: nowrap;
}

.btn:focus, .btn:active:focus, .btn.active:focus {
	outline:0;
}

.well {
	margin:30px auto 30px auto;
	background-color:#eee;
}
.panel-default>.panel-heading {
	color: #333;
	background-color: #f7f7f7;
	
}
.details {

	padding-top:100px;
	padding-bottom:103px;
}
.details-btns {
	margin-top:50px;
	width:150px;
	
}